img{
  width: 400px;

}
.Nolonwabo{
  float: left;
  padding-right: 150px;
  padding-bottom: 50px;
}
.intro{
  display: block;
}
body{
  background-image: url(images/lulo.jpg);
  }
.city{
  float: left;
}
.city img{
  width: 400px;
float: left;
margin-left: 12em;
}
.language{
float: left;
font-size: 20px;
font-style: italic;
}
.table{
text-align: center;
margin: auto;
}
.rotate {
  transform: rotate(360deg);
  padding-bottom: 75px;
}
.historic{
  float: left;
  font-size: 40px;
  font-style: italic;
  padding-top: 75px;
  padding-right: 110px;
}
.Robinson{
  font-size: 40px;
  float: left;
  font-style: normal;
  display: block;
}
.Rob{
  display: block;
  font-size: 20px;
  float: right;
}
.clock{
  font-size: 40px;
  float: right;
  font-style: normal;
  display: block;
  padding-left: 50px;
}
.tower{
  display: block;
  float: left;
  font-size: 20px;
}
ul.list{
  font-size:50% ;
  float: left;
  width:50%;
  position: relative;
  left: -500px;
  margin-top: -170px;
}
img.rtt {
  float:right;
  width: 60%;
  position: relative;
  right:320px;

}
h7 {
  float: left;
  position: relative;
  left: -60px;
}
.place{
  font-size: 40px;
  float: left;
  font-style: normal;
  display: block;
  clear: both;
  position: relative;
  right: -40px;
}
.trading{
  display: block;
  font-size: 20px;
  float: right;
}
.trade {
  margin-top: 5em;
}
ul.lisst{
  font-size:90% ;
  float: right;
  width:50%;
  position: relative;
  margin-top: -250px;
  position: relative;
  right: 400px;

}
h8{
  float: right;
  position: relative;
  right: 350px;
  margin-top: 5em;
}
